:root{
  --sidebar-content-space: 110px;
}

div.quick-access-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}


div.tv-groupes-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
}

label.tv-groupes-label {
  font-size: 64px;
  font-weight: 600;
}


.grid-container {
  display: grid;
  padding: 5px ;
  grid-template-columns:repeat(3 , 1fr);
  overflow:hidden;
}
.card {
margin-bottom: 35px;
margin-inline-end: 35px;
}













.app-container {
    display: grid;
    grid-template-columns: calc(90px + var(--sidebar-content-space)) 1fr; /* Initial layout: narrow sidebar and main content */
    height: 100vh; /* Full height of the viewport */
  }

.sidebar.focused ~ .main-content {
    grid-column: 2 / span 1;
    margin-left: var(--sidebar-content-space); /* Adjust the main content to accommodate the expanded sidebar */
  }

.main-content {
    padding: 20px;
    overflow: auto; /* Ensure main content scrolls if necessary */
    display: flex;
    flex-direction: column;

  }